<div>
  <p>ジオコーディング： <%= @geocoding.first.coordinates %></p>
  <p>リバースジオコーディング： <%= @reverse.first.address %></p>
  <p>
    IPアドレス： 座標：<%= @ip_address.first.coordinates %>,
    国：<%= @ip_address.first.country %>
  </p>
  <% if @nears.present? %>
    <% @nears.each.with_index do |near, index| %>
      <p><%= "#{index + 1}: #{near.address}" %></p>
    <% end %>
  <% end %>
  <%= link_to 'spot', spots_path %>
</div>
